@tailwind base;
@tailwind components;
@tailwind utilities;

/* Safe area for iOS full screen */
body {
  padding: env(safe-area-inset);
}

/* Ensure full height for vertical centering */
html, body, #root {
  height: 100%;
  margin: 0;
}

